.cart-container{
  font-family: "Comic Sans MS";
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 20vh;
  margin: 30px;

  h1{
    font-size: 2.2rem;
  }

  .items-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    max-width: 1200px;
    width: 90vw;
    margin: 2rem 0;

    .items{
      margin: 1rem 0;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    .header{
      @extend %cart-grid;
      width: 30vw;
      max-width: 400px;
      font-size: 1.1rem;

      .label{
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: 700;
        letter-spacing: .2em;
      }
    }

    .item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px 0;

      .remove-item-btn{
         padding: 8px 15px;
         background: none;
         border: 1px solid $border-color;
      }

      input[type=number]{
        font-family: "Comic Sans MS";
        text-align: center;
        font-size: 1.2rem;
        width: 80px;
        height: 41px;
        border: 1px solid $border-color;
        background: none;
        
      }

      input[type=number]:focus{
        @extend %input-focus
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number] {
        -moz-appearance: textfield;
      }

      .details-1{
        display: flex;
        align-items: center;
        
        img{
          margin-right: 10px;
        }
      }

      .details-2{
        @extend %cart-grid;
        width: 30vw;
        max-width: 400px;
        line-height: 41px;
        text-align: center;

        .qty-counter-wrapper{
          position: relative;


          .qty-btn{
            position: absolute;
            right: 5px;
            background: #F1F1F1;
            user-select: none;
            cursor: pointer;
            height: 15px;
            width: 18px;

            svg{
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(-50%, -50%);
            }
          }

          .qty-btn:hover{
            background: $bg-color-hover;
          }

          .inc-btn{
            transform: rotate(180deg);
            top: 5px;
          }

          .dec-btn{
            transform: translateY(100%);
            bottom: 20px;
          }
        }
      }
    }

    .summary{
      @extend %cart-grid;
      width: 20vw;
      max-width: 300px;

      .label{
        font-weight: 700;
      }
    }

    .check-out{
      justify-self: flex-end;
      text-align: right;

      p{
        font-size: 1rem;
        margin: 15px 0;
      }

      button{
        font-size: 1.1rem;
        font-weight: 700;
        font-family: "Comic Sans MS";
        border: none;
        outline: none;
        background: #FF0000;
        color: #fff;
        padding: .7rem 1.2rem;
        margin-left: 20px;
      }

      button:hover{
        cursor: pointer;
      }
    }

  }

}