.catalog{
  padding: 60px 0;
  font-family: $default-font-2;

  marquee{
    font-size: .9rem;
    letter-spacing: .1rem;
    font-weight: 400;
  }

  h2{
    text-align: center;
  }

  &-content{
    display: grid;
    max-width: 1400px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    justify-items: center;

    @media screen and (max-width: $laptop-width) {
      grid-template-columns: repeat(2, 1fr);
    }


    @media screen and (max-width: $mobile-width) {
      grid-template-columns: 1fr;
    }
  }
}