.main{

  .banner{
    display: block;
    margin: 5px auto;
    width: 100%;
  }

  .greeting{
    width: 25%;
  }

  .buythatone{
    width: 30%;
    transform: translateX(-50%);
  }

  &-content{
    text-align: center;
    font-family: $default-font-2;
    margin-top: 50px;

    .items{
      display: flex;
      gap: 5vw;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: $tablet-width) {
    .buythatone{
      width: 80%;
      transform: none

    }
  }

}