.navbar{
  @extend %box-shadow;
  
  &-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    max-width: 1500px;
    font-weight: 400;
    padding:  0 5vw;
    margin: auto;
  }

  &-wrap .navIcon:hover{
    cursor: pointer;
  }

  .navIcon svg{
    width: 30px;
    height: 30px;
  }

  &-dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    left:-300px;
    width: 300px;
    height: 100vh;
    padding: 30px;
    background: rgb(255, 255, 255);
    z-index: 99;

    
    .dropdown-item{
      display: flex;
      padding: 20px 10px;
      border-bottom: 1px solid rgb(235, 235, 235);
      clear: both;
      
      img{
        width: 50%;
      }
    }

    .dropdown-item:nth-child(2){
      border-top: 1px solid rgb(235, 235, 235);
    }

    .dropdown-item:active{
      background: rgb(235, 235, 235);
    }

    .dropdown-exit{
      width: fit-content;
      float: right;
      padding: 30px 20px;
      margin-bottom: 10px;
      border: none;

      svg{
        width: 35px;
      }
    }

    .dropdown-exit:hover{
      cursor: pointer;
    }

    .dropdown-exit:active{
      background: rgb(235, 235, 235);
    }
  }

  

  .cart img{
    width: 73px;
    height: 45px;
  }
}

.cover{
  position: absolute;
  top:0;
  left:300px;
  width: 150vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  z-index: 9;
}