@import "_variables.scss";
@import "_navbar.scss";
@import "_product.scss";
@import "_cart.scss";
@import "_catalog.scss";
@import "_footer.scss";
@import "_home.scss";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: $font-color;
}

ul, li{
  list-style: none;
}

body{
  color: $font-color;
  font-size: $default-font-size;
  font-family: $default-font;
  background-color: $bg-color;
  overflow-x: hidden;
  color: $font-color;
}