@import "_variables.scss";
@import "../components/Home/_home.scss";
@import "../components/Navbar/_navbar.scss";
@import "../components/Catalog/_product.scss";
@import "../components/Catalog/_catalog.scss";
@import "../components/Cart/_cart.scss";
@import "../components/Footer/_footer.scss";
@import "../components/PageNotFound/_pageNotFound.scss";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: $font-color;
}

.animated-link{
  border-bottom: 3px solid rgb(225, 225, 225);
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  margin: auto;
  display: inline-block;
  width: fit-content;

}

.animated-link::after{
  content: "";
  display: block;
  position: relative;
  top:3px;
  left:0;
  width: 0;
  border-bottom: 3px solid rgb(124, 124, 124);
  border-radius: 2px;
  transition: all .5s ease-in-out;
}

ul, li{
  list-style: none;
}

body{
  color: $font-color;
  font-size: $default-font-size;
  font-family: $default-font;
  background-color: $bg-color;
  overflow-x: hidden;
  color: $font-color;
}