.footer{
  background: $footer-bg-color;
  font-family: $default-font-2;
  

  .grid{
    display: grid;
    grid-template-columns: 24% 15% 15% 24% 15%;
    justify-content: center;
    justify-items: center;
    padding: 100px 0;
    max-width: 1400px;
    margin: auto;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    .logo-div-mobile, .mobile-dropdown{
      display:none;
    }

    

    @media screen and (max-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      
    }

    .grid-item{
      padding: 0 10px;
      font-size: .9rem;
      position: relative;
      width: 100%;

      .mobile-content{
        margin: 10px 0;
      }

      .mobile-dropdown{
        position: absolute;
        right:0;
        width: 100%;
        height: 40px;
        text-align: right;
        cursor: pointer;

        svg{
          position: absolute;
          right:10px;
          top:5px;
          height: 20px;
          transition: all .2s ease-in-out;
        }
      }

      @media screen and (max-width: $tablet-width) {
        margin: 10px 20px;
        border-bottom: 1px solid $border-color; 
        width: unset;

        .logo-div-mobile, .mobile-dropdown{
          display:block;
        }

      }

      .footer-logo{
        img{
          width: 170px;
        }
        margin-bottom: 10px;
      }

      .footer-title{
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 15px;
      }

      .footer-link{
        margin: 5px 0;
      }

      .newsletter{
        position: relative;
        margin-top: 10px;

        input{
          background: none;
          border: 1px solid $border-color;
          padding: 6px 15px;
          padding-left: 55px;
          font-family: $default-font-2;
          width: 100%;
          max-width: 300px;
          min-width: none;
        }
  
        input:focus{
          @extend %input-focus
        }

        button[type=submit]{
          position: absolute;
          top:0;
          left:5px;
          width: 50px;
          height: 100%;
          border: none;
          background: none;

          svg{
            width: 100%;
            height: 100%;
          }
        }
      }


    }

    
    @media screen and (max-width: $tablet-width){
      .logo-div{
        display: none;
      }
      .logo-div-mobile{
        display: block;   
      }
    }

    .logo-div-mobile{
      border-bottom: none;   
    }

  }
}

.show-mobile-content{
  display: block;
}

.hide-mobile-content{
  display: none;
}

.rotate{
  transform: scale(1, -1);
}